{{>navbar}}

    <section id="PanelUsuarios">

        <h1 class="text-center hola">Panel de pacientes</h1>

  <body class="text-center">
            <br>
        <div class="center">
            Filtrar por rol:
            <form method="POST"  action="/FiltrosUsuarios">
            <select name="role" id="FiltroHistorial" class="custom-select2" >
                <option value="admin"> Admin</option>
                <option value="cliente" >Cliente</option>

              </select>
              <button type="submit" class="btn btn-info btn-sm">Filtrar</button>
              <br>
            </form>
        </div>             
        <br>

        <form method="post" action="/FiltrosUsuarios2" >
            <select name="Tipo" id="FiltroHistorial2" class="BusquedaSelect">
                <option value="Nombre" >Nombre de usuario</option>

            </select>
            <input type="text" name="busqueda" class="busquedaInput" placeholder="Inserte los datos que desea filtrar">
            <button class="btn btn-outline-danger" type="reset">Limpiar</button>
            <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

<div>
<table class="user-table">
  <thead>
    <tr>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Rol</th>
      <th>Borrar</th>
      <th>Diagnostico</th>
      <th>Lentes</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    {{#each usuarios.docs}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.Nombre}}</td>
        <td>{{this.ApellidoPaterno}}</td>
        <td>{{this.ApellidoMaterno}}</td>
        <td>{{this.role}}</td>
        <td><a href="/Borrar?Usuario={{this.username}}">Borrar</a></td>
        <td></td>
        <td></td>
        <td>Ver Diagnostico / Nuevo Diagnostico</td>

<!--Agregar alerta-->
      </tr>
    {{/each}}
  </tbody>
</table>


</div>
</section>

{{#unless (Falso FiltroPaginado)}}
{{#each TotalPaginas}}
  <a href="/PanelUsuarios?page={{this}}" type="submit" id="sendMessageButton" class="botonPaginacion btn-dark">{{this}}</a>
{{/each}}
{{/unless}}

{{#unless (Verdad FiltroPaginado)}}
  {{#each TotalPaginas}}
    {{#if (not (eq ../Filtro "Id"))}}
      {{#if (not (eq ../Filtro "Nombre"))}}
        <a href="/FiltrosUsuarios?Filtro={{../Filtro}}&amp;page={{this}}" type="submit" id="sendMessageButton" class="botonPaginacion btn-dark">{{this}}</a>
      {{/if}}
    {{/if}}
  {{/each}}
{{/unless}}


{{#unless (Verdad FiltroPaginado)}}
  {{#each TotalPaginas}}
{{#if (eq ../Filtro "Nombre")}}

<a href="/FiltrosUsuarios2?Filtro={{../Filtro}}&amp;page={{this}}&amp;consulta={{../consulta}}" type="submit" id="sendMessageButton" class="botonPaginacion btn-dark">{{this}}</a>
    {{/if}}
  {{/each}}
{{/unless}}




<style>
    .custom-select {
      appearance: none;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 5px;
      color: #555555;
      font-size: 16px;
      padding: 10px;  
      width: 25%;
    }
    
    .custom-select:focus {
      outline: none;
      border-color: #21f32c;
      box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
    }
    
    .custom-select option {
      background-color: #ffffff;
      color: #555555;
    }
    .custom-select2 {
      appearance: none;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 5px;
      color: #555555;
      font-size: 16px;
      padding: 10px;
      width: 5%;
    }
    
    .custom-select2:focus {
      outline: none;
      border-color: #36f321;
      box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
    }
    
    .custom-select2 option {
      background-color: #ffffff;
      color: #555555;
    }
     .user-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .user-table th {
    background-color: #8ED1C5;
    color: #fff;
  }

  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
      </style>


<br>
<br>
<br>
<br>
<br>
<br>

{{>footer}}