<!DOCTYPE html>
<html lang="{{lng}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{t 'patient_panel'}}</title>
    <link rel="stylesheet" href="./stylesheets/PanelUsuarios.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .borrar-link {
            color: #e35151; /* Color del icono */
            padding: 5px 10px; /* Espacio interno (ajusta según sea necesario) */
            border-radius: 5px; /* Borde redondeado */
            text-decoration: none; /* Eliminar subrayado del enlace */
            display: inline-flex; /* Para alinear el icono correctamente */
            align-items: center; /* Para centrar el icono verticalmente */
        }

        .borrar-link i.fa-trash {
            font-size: 1.5em; /* Ajusta el tamaño del icono */
        }

        .borrar-link:hover {
            color: #d43f3a; /* Cambia el color del icono en hover (tono más claro) */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 px-0">
                <!-- Sidebar -->
                {{> sidebar}}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10 px-0">
                <section id="PanelPacientes">
                    <br>
                    <h1 class="text-center">{{t 'patient_panel'}}</h1>
                    <body class="text-center">
                        <br>
                        <form method="post" action="/FiltrosPacientes">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <select name="Tipo" id="FiltroHistorial2" class="form-select">
                                        <option value="Folio" {{#if (eq Filtro "Folio")}} selected {{/if}}>{{t 'folio'}}</option>
                                        <option value="Nombre" {{#if (eq Filtro "Nombre")}} selected {{/if}}>{{t 'nombre_usuario'}}</option>
                                        <option value="HIPERMETROPIA" {{#if (eq Filtro "HIPERMETROPIA")}} selected {{/if}}>{{t 'hipermetropia'}}</option>
                                        <option value="EMETROPE" {{#if (eq Filtro "EMETROPE")}} selected {{/if}}>{{t 'emetrope'}}</option>
                                        <option value="MIOPIA" {{#if (eq Filtro "MIOPIA")}} selected {{/if}}>{{t 'miopia'}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="busqueda" class="form-control" placeholder="{{t 'inserte_datos_filtrar'}}">
                                </div>
                            </div>
                            <br>
                            <a class="btn btn-outline-danger" href="/PanelPacientes" onclick="">{{t 'limpiar'}}</a>
                            <button type="submit" class="btn btn-outline-success">
                                <i class="fa-solid fa-magnifying-glass">{{t 'buscar'}}</i>
                            </button>
                        </form>
                        <br>
                        <div class="container-xl text-center">
                            <div class="row text-light align-items-start mb-2 rounded-top" style="background-color: #12372A;">
                                <div class="col-1">
                                    {{t 'folio'}}
                                </div>
                                <div class="col-2">
                                    {{t 'nombre'}}
                                </div>
                                <div class="col-3">
                                    {{t 'apellidos'}}
                                </div>
                                <div class="col-2">
                                    {{t 'borrar'}}
                                </div>
                                <div class="col-3">
                                    {{t 'tests'}}
                                </div>
                            </div>
                            <div class="row align-items-start p-1 mb-1">
                                {{#each pacientes.docs}}
                                <div class="col-1">
                                    {{this.Folio}}
                                </div>
                                <div class="col-2">
                                    {{this.Nombre}}
                                </div>
                                <div class="col-3">
                                    {{this.ApellidoPaterno}}
                                </div>
                                <div class="col-2">
                                    <a href="#" class="borrar-link" onclick="confirmDeletion('{{this._id}}'); return false;">
                                        <i class="fa fa-trash" style="color: #e35151;"></i>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <button id="diag" class="form-control" onclick="openPopup('{{this._id}}')">{{t 'diagnostico'}}</button>
                                </div>
                                <div class="w-100"></div>
                                {{/each}}
                            </div>
                        </div>
                    </body>
                </section>
            </div>
        </div>
    </div>
    {{#unless (Falso FiltroPaginado)}}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a href="/PanelPacientes?page={{restar this.pacientes.page 10}}" class="page-link" id="nextPage">
                    <i class="fa fa-angle-double-left" style="font-size:20px"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="/PanelPacientes?page={{this.pacientes.prevPage}}" class="page-link" id="nextPage">{{t 'back'}}</a>
            </li>
            {{#each (limit TotalPaginas 10)}}
            <li class="page-item">
                <a href="/PanelPacientes?page={{this}}" type="submit" id="sendMessageButton" class="page-link">{{this}}</a>
            </li>
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="/PanelPacientes?page={{sumar this.pacientes.page 1}}" id="nextPage">{{t 'next'}}</a>
            </li>
            <li class="page-item">
                <a href="/PanelPacientes?page={{sumar this.pacientes.page 10}}" class="page-link" id="nextPage">
                    <i class="fa fa-angle-double-right" style="font-size:20px"></i>
                </a>
            </li>
        </ul>
    </nav>
    {{/unless}}
    {{#unless (Verdad FiltroPaginado)}}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#each TotalPaginas}}
            <li class="page-item">
                <a href="/FiltrosPacientes?Filtro={{../Filtro}}&amp;page={{this}}" type="submit" id="sendMessageButton" class="page-link">{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    {{/unless}}
    <script>
        var translations = {
            are_you_sure: "{{t 'are_you_sure'}}",
            no_revert: "{{t 'no_revert'}}",
            yes_delete: "{{t 'yes_delete'}}",
            cancel: "{{t 'cancel'}}"
        };

        function confirmDeletion(id) {
            Swal.fire({
                title: translations.are_you_sure,
                text: translations.no_revert,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#d33',
                confirmButtonText: translations.yes_delete,
                cancelButtonText: translations.cancel,
                customClass: {
                    confirmButton: 'green-text'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/BorrarPacientes?id=" + id;
                }
            });
        }
    </script>
    {{>footer}}
</body>
</html>

<script>
  function openPopup(id) {
    fetch(`/popup/${id}`)
      .then(response => response.text())
      .then(html => {
        const popup = document.createElement('div');
        popup.innerHTML = html;
        document.body.appendChild(popup);
        const closeBtn = popup.querySelector('.close-btn');
        closeBtn.addEventListener('click', () => {
          popup.remove();
        });
      });
  }
</script>
<style>
    .page-item.active {
        background-color: #007bff; /* Cambia el color de fondo a tu preferencia */
        color: #fff; /* Cambia el color de texto a tu preferencia */
    }
</style>
{{!-- <script>
     $(document).ready(function() {
    // Número de elementos a mostrar por página
    const itemsPerPage = 3;

    // Función para mostrar los elementos
    function showItems(startIndex) {
      const endIndex = startIndex + itemsPerPage;
      $(".page-item").hide();
      $(".page-item:lt(" + endIndex + "):gt(" + (startIndex - 1) + ")").show();
    }

    // Oculta todos los elementos excepto los primeros tres
    showItems(1);

    // Manejo del botón "Next" para mostrar los siguientes tres elementos
    $("#nextPage").click(function() {
      const visibleItems = $(".page-item:visible");
      const startIndex = visibleItems.index(":first") + itemsPerPage;
      showItems(startIndex);
    });
  });
</script> --}}



<style>
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
     width: 400px; /* Ancho del recuadro */
    height: 500px; /* Altura del recuadro */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
  }










  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




  .custom-select {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #555555;
    font-size: 16px;
    padding: 10px;
    width: 25%;
  }

  .custom-select:focus {
    outline: none;
    border-color: #21f32c;
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
  }

  .custom-select option {
    background-color: #ffffff;
    color: #555555;
  }

  .custom-select2 {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #555555;
    font-size: 16px;
    padding: 10px;
    width: 5%;
  }

  .custom-select2:focus {
    outline: none;
    border-color: #36f321;
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
  }

  .custom-select2 option {
    background-color: #ffffff;
    color: #555555;
  }

  .user-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .user-table th {
    background-color: #8ED1C5;
    color: #fff;
  }

  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.borrar-link {
    color: #e35151; /* Color del icono */
    padding: 5px 10px; /* Espacio interno (ajusta según sea necesario) */
    border-radius: 5px; /* Borde redondeado */
    text-decoration: none; /* Eliminar subrayado del enlace */
    display: inline-flex; /* Para alinear el icono correctamente */
    align-items: center; /* Para centrar el icono verticalmente */
}

.borrar-link i.fa-trash {
    font-size: 1.5em; /* Ajusta el tamaño del icono */
}

.borrar-link:hover {
    color: #d43f3a; /* Cambia el color del icono en hover (tono más claro) */
}
    .green-text {
    color: #0BE02A;  /* Verde */
}
</style>

<style>
  /* Add this CSS for smaller screens */
  @media screen and (max-width: 600px) {
    .table-container {
      overflow-x: auto;
      max-width: 100%;
      padding: 10px;
    }
    .user-table {
      width: 100%;
      max-width: none;
    }
    .user-table th,
    .user-table td {
      padding: 5px;
      font-size: 14px;
    }
    #diag{
      padding: 5px;
      font-size: 14px;
    }
  }

  /* Existing CSS styles */
  /* ... */

</style>

