{{>navbar}}
<link rel="stylesheet" href="./stylesheets/PanelUsuarios.css">

<section id="PanelUsuarios">

  <h1 class="text-center hola">Panel de Usuarios</h1>

  <body class="text-center">
    <br>

    Filtrar por rol:
    <form method="POST" action="/FiltrosUsuarios">
      <div class="row justify-content-center">
        <div class="col-2">
          <select name="role" id="FiltroHistorial" class="form-select">
            <option value="admin"> Administrador</option>
            <option value="cliente">Cliente</option>
            <option value="alumno">Alumno</option>

          </select>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-info">Filtrar</button>
        </div>
      </div>

    </form>

    <br>

    <form method="post" action="/FiltrosUsuarios2">
      <div class="row justify-content-center">
        <div class="col-3">
          <select name="Tipo" id="FiltroHistorial2" class="form-select">
            <option value="Nombre">Correo institucional</option>

          </select>
        </div>

        <div class="col-4">
          <input type="text" name="busqueda" class="form-control" placeholder="Inserte los datos que desea filtrar">
        </div>
      </div>
      <br>


      <button class="btn btn-outline-danger" type="reset">Limpiar</button>
      <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass">Buscar</i></button>
    </form>

    <div>
      <table class="user-table">
        <thead>
          <tr>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Rol</th>
            <th>Borrar</th>
            <th>Diagnostico</th>

          </tr>
        </thead>
        <tbody>
          {{#each usuarios.docs}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.Nombre}}</td>
            <td>{{this.ApellidoPaterno}}</td>
            <td>{{this.ApellidoMaterno}}</td>
            <td>{{this.role}}</td>
            <td><a href="/Borrar?Usuario={{this.username}}">Borrar</a></td>
            <td><button class="form-control" onclick="openPopup(`{{this.username}}`)">Diagnostico</button></td>

            <!--Agregar alerta-->
          </tr>
          {{/each}}
        </tbody>
      </table>


    </div>
</section>

{{#unless (Falso FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    <li class="page-item"><a href="/PanelUsuarios?page={{this}}" type="submit" id="sendMessageButton"
        class="page-link">{{this}}</a></li>
    {{/each}}
  </ul>
</nav>
{{/unless}}

{{#unless (Verdad FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    {{#if (not (eq ../Filtro "Id"))}}
    {{#if (not (eq ../Filtro "Nombre"))}}
    <li class="page-item">
      <a href="/FiltrosUsuarios?Filtro={{../Filtro}}&amp;page={{this}}" type="submit" id="sendMessageButton"
        class="page-link">{{this}}</a>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>
</nav>
{{/unless}}


{{#unless (Verdad FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    {{#if (eq ../Filtro "Nombre")}}

    <li class="page-item"><a
        href="/FiltrosUsuarios2?Filtro={{../Filtro}}&amp;page={{this}}&amp;consulta={{../consulta}}" type="submit"
        id="sendMessageButton" class="page-link">{{this}}</a></li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
{{/unless}}



<script>
  function openPopup(id) {
    fetch(`/popup/${id}`)
      .then(response => response.text())
      .then(html => {
        const popup = document.createElement('div');
        popup.innerHTML = html;
        document.body.appendChild(popup);
        const closeBtn = popup.querySelector('.close-btn');
        closeBtn.addEventListener('click', () => {
          popup.remove();
        });
      });
  }
</script>






{{>footer}}