{{>navbar}}

<section id="PanelUsuarios">

  <h1 class="text-center hola">Panel de Usuarios</h1>

  <body class="text-center">
    <br>

    Filtrar por rol:
    <form method="POST" action="/FiltrosUsuarios">
      <div class="row justify-content-center">
        <div class="col-2">
          <select name="role" id="FiltroHistorial" class="form-select">
            <option value="admin"> Administrador</option>
            <option value="cliente">Cliente</option>
            <option value="alumno">Alumno</option>

          </select>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-info">Filtrar</button>
        </div>
      </div>

    </form>

    <br>

    <form method="post" action="/FiltrosUsuarios2">
      <div class="row justify-content-center">
        <div class="col-3">
          <select name="Tipo" id="FiltroHistorial2" class="form-select">
            <option value="Nombre">Correo institucional</option>

          </select>
        </div>

        <div class="col-4">
          <input type="text" name="busqueda" class="form-control" placeholder="Inserte los datos que desea filtrar">
        </div>
      </div>
      <br>


      <button class="btn btn-outline-danger" type="reset">Limpiar</button>
      <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass">Buscar</i></button>
    </form>

    <div>
      <table class="user-table">
        <thead>
          <tr>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Rol</th>
            <th>Borrar</th>
            <th>Diagnostico</th>

          </tr>
        </thead>
        <tbody>
          {{#each usuarios.docs}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.Nombre}}</td>
            <td>{{this.ApellidoPaterno}}</td>
            <td>{{this.ApellidoMaterno}}</td>
            <td>{{this.role}}</td>
            <td><a href="/Borrar?Usuario={{this.username}}">Borrar</a></td>
            <td><button class="form-control" onclick="openPopup(`{{this.username}}`)">Diagnostico</button></td>

            <!--Agregar alerta-->
          </tr>
          {{/each}}
        </tbody>
      </table>


    </div>
</section>

{{#unless (Falso FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    <li class="page-item"><a href="/PanelUsuarios?page={{this}}" type="submit" id="sendMessageButton"
        class="page-link">{{this}}</a></li>
    {{/each}}
  </ul>
</nav>
{{/unless}}

{{#unless (Verdad FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    {{#if (not (eq ../Filtro "Id"))}}
    {{#if (not (eq ../Filtro "Nombre"))}}
    <li class="page-item">
      <a href="/FiltrosUsuarios?Filtro={{../Filtro}}&amp;page={{this}}" type="submit" id="sendMessageButton"
        class="page-link">{{this}}</a>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>
</nav>
{{/unless}}


{{#unless (Verdad FiltroPaginado)}}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    {{#each TotalPaginas}}
    {{#if (eq ../Filtro "Nombre")}}

    <li class="page-item"><a
        href="/FiltrosUsuarios2?Filtro={{../Filtro}}&amp;page={{this}}&amp;consulta={{../consulta}}" type="submit"
        id="sendMessageButton" class="page-link">{{this}}</a></li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
{{/unless}}
<script>
  function openPopup(id) {
    fetch(`/popup/${id}`)
      .then(response => response.text())
      .then(html => {
        const popup = document.createElement('div');
        popup.innerHTML = html;
        document.body.appendChild(popup);
        const closeBtn = popup.querySelector('.close-btn');
        closeBtn.addEventListener('click', () => {
          popup.remove();
        });
      });
  }
</script>



<style>
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
  }










  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




  .custom-select {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #555555;
    font-size: 16px;
    padding: 10px;
    width: 25%;
  }

  .custom-select:focus {
    outline: none;
    border-color: #21f32c;
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
  }

  .custom-select option {
    background-color: #ffffff;
    color: #555555;
  }

  .custom-select2 {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #555555;
    font-size: 16px;
    padding: 10px;
    width: 5%;
  }

  .custom-select2:focus {
    outline: none;
    border-color: #36f321;
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
  }

  .custom-select2 option {
    background-color: #ffffff;
    color: #555555;
  }

  .user-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .user-table th {
    background-color: #8ED1C5;
    color: #fff;
  }

  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>


{{>footer}}