<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/Test.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 px-0">
            <!-- Sidebar -->
            {{> sidebar}}
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 px-0">
            <div class="col-lg-8 mx-auto p-2 py-md-5">
                <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
                    {{t 'Optometría UAL'}}
                </header>
                <!--CamposDeFormulario-->
                <main>
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-body border border-2 border-dark rounded" id="CuadroG">
                            <div class="container">
                   <form action="/Formulario" method="POST" id="formulario">
    <input type="hidden" id="Optometrista" name="Optometrista" value="{{usuario}}">
    <div class="container" id="formcont">
        <div id="carouselExample" class="carousel slide" data-wrap="false">
            <div class="carousel-inner">

                <!-- Sección 1: Paciente -->
                <div class="carousel-item active" id="inicio">
                    <h2>{{t 'Paciente'}}</h2>
                    <button type="button" class="form-control" onclick="openPopup()">{{t 'Nombre del paciente:'}}</button>

                    <div id="popup" class="popup" style="z-index: +1000;">
                        <div class="popup-content">
                            <span class="close" onclick="closePopup()">&times;</span>
                            <input type="text" id="searchInput" placeholder="{{t 'Search...'}}">
                            {{#each pacientes}}
                            <div class="row " style="z-index: 999;">
                                <div class="col-auto me-auto" id="" style="width: 100%;">
                                    <p>{{this.NombreCompleto}}<input type="hidden" value="{{this._id}}" id="id">
                                        <button type="button" class="btn btn-dark" style="float:right;" onclick="displayUsername(this)" value="{{this._id}}">{{t 'Agregar'}}</button>
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <br>
                    <p id="usernameDisplay" style="display:none;" name="NombrePaciente"></p>
                    <input type="hidden" id="usernameValueDisplay" style="display:none;" name="id">

                    <button type="button" id="hideUsernameButton" style="display:none;" onclick="hideUsernameDisplay()">{{t 'Cancelar'}}</button>

                    <!-- Resto de tu contenido de la sección "Paciente" aquí -->
                </div>

                <!-- Sección 2: Pruebas complementarias -->
                <div class="carousel-item">
                    <h2>{{t 'Pruebas complementarias'}}</h2>
                    <br>
                    <label for=""></label>
                    <table class="table table-striped-columns">
                        <tr>
                            <th></th>
                            <th>{{t 'Pruebas complementarias'}}</th>
                        </tr>
                        <tr>
                            <td>{{t 'Ishihara'}}</td>
                            <td>
                                <input type="text" id="Ishihara" name="CamposDeFormulario[Ishihara]" class="form-control" min="-1" max="1" step="0.25" required>
                                <div class="invalid-feedback" id="IshiharaFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Amsler'}}</td>
                            <td>
                                <input type="text" id="Amsler" name="CamposDeFormulario[Amsler]" class="form-control" min="-1" max="1" step="0.25" required>
                                <div class="invalid-feedback" id="AmslerFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Maddox'}}</td>
                            <td>
                                <input type="text" id="Maddox" name="CamposDeFormulario[Maddox]" class="form-control" min="0" step="1" required>
                                <div class="invalid-feedback" id="MaddoxFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Campos visuales'}}</td>
                            <td>
                                <input type="text" id="Campos visuales" name="CamposDeFormulario[Camposvisuales]" class="form-control" required>
                                <div class="invalid-feedback" id="CamposvisualesFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Sección 2: Biomicroscopía -->
                <div class="carousel-item">
                    <h2>{{t 'Biomicroscopía'}}</h2>
                    <br>
                    <table class="table table-striped-columns">
                        <tr>
                            <th></th>
                            <th>{{t 'Biomicroscopía'}}</th>
                        </tr>
                        <tr>
                            <td>{{t 'Párpados'}}</td>
                            <td>
                                <input type="text" id="Parpados" name="CamposDeFormulario[Parpados]" class="form-control" min="-1" max="1" step="0.25" required>
                                <div class="invalid-feedback" id="ParpadosFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Puntos y vías lagrimales'}}</td>
                            <td>
                                <input type="text" id="Puntos y vias lagrimales" name="CamposDeFormulario[PuntosViasLagrimales]" class="form-control" min="-1" max="1" step="0.25" required>
                                <div class="invalid-feedback" id="PuntosViasLagrimalesFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Fondo de saco'}}</td>
                            <td>
                                <input type="text" id="Fondo de saco" name="CamposDeFormulario[FondoDeSaco]" class="form-control" min="0" step="1" required>
                                <div class="invalid-feedback" id="FondoDeSacoFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Conjuntiva'}}</td>
                            <td>
                                <input type="text" id="Conjuntiva" name="CamposDeFormulario[Conjuntiva]" class="form-control" required>
                                <div class="invalid-feedback" id="ConjuntivaFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Esclera'}}</td>
                            <td>
                                <input type="text" id="Esclera" name="CamposDeFormulario[Esclera]" class="form-control" required>
                                <div class="invalid-feedback" id="EscleraFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Córnea'}}</td>
                            <td>
                                <input type="text" id="Cornea" name="CamposDeFormulario[Cornea]" class="form-control" required>
                                <div class="invalid-feedback" id="CorneaFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Limbo'}}</td>
                            <td>
                                <input type="text" id="Limbo" name="CamposDeFormulario[Limbo]" class="form-control" required>
                                <div class="invalid-feedback" id="LimboFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'C.A.'}}</td>
                            <td>
                                <input type="text" id="C.A." name="CamposDeFormulario[CA]" class="form-control" required>
                                <div class="invalid-feedback" id="CAFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Iris y pupila'}}</td>
                            <td>
                                <input type="text" id="Iris y pupila" name="CamposDeFormulario[IrisYPupila]" class="form-control" required>
                                <div class="invalid-feedback" id="IrisYPupilaFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t 'Cristalina'}}</td>
                            <td>
                                <input type="text" id="Cristalina" name="CamposDeFormulario[Cristalina]" class="form-control" required>
                                <div class="invalid-feedback" id="CristalinaFeedback">{{t 'validation.required'}}</div>
                            </td>
                        </tr>
                    </table>
                </div>

                <script>
                    var dipInput = document.getElementById("dip");

                    function updateDipMinus2() {
                        var dipValue = parseFloat(dipInput.value);
                        var dipMinus2 = dipValue - 2;
                        document.getElementById("dip-2").value = dipMinus2;
                    }

                    dipInput.addEventListener("input", updateDipMinus2);
                </script>

                <!-- Sección 3: Refracción -->
                <div class="carousel-item" id="itemsave">
                    <h2>{{t 'Finalizar'}}</h2>
                    <form id="myForm" action="tu_script.php" method="POST">

                        <div class="container text-start">
                            <div class="row align-items-start">
                                <div class="col col-5">
                                    <div class="contenedor2">
                                        <button type="submit" class="btn btn-primary" id="btnSalir">{{t 'Guardar y salir'}}</button>
                                        <!--
                                        <button type="submit" class="btn btn-primary" id="btnSiguiente">{{t 'Guardar e ir al siguiente'}}</button>
                                        <button type="submit" class="btn btn-primary" id="btnClinica">{{t 'Guardar y regresar a Clínica'}}</button>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="z-index: 999;">
        <div class="col-auto me-auto" id="" style="width: 40%;">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" onclick="ocultarBoton()" id="btnprev" hidden="true">
                <span class="carousel-control-prev-icon" aria-hidden="true" id="icono"></span>
            </button>
        </div>
        <div class="col-auto">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" onclick="ocultarBoton();" id="btnnext">
                <span class="carousel-control-next-icon" aria-hidden="true" id="icono"></span>
            </button>
        </div>
    </div>
</form>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<script>
    function ocultarBoton() {
        var slideGuardar = document.getElementById("itemsave").className;
        var btnSiguiente = document.getElementById("btnnext");
        var slideInicial = document.getElementById("inicio").className;
        var btnAtras = document.getElementById("btnprev");
        console.log(slideGuardar)
        if (slideGuardar === "carousel-item carousel-item-next carousel-item-start") {
            btnSiguiente.setAttribute("hidden", true);
        } else {
            btnSiguiente.removeAttribute("hidden", false);
        }
        console.log("Slide inicial " + slideInicial)
        if (slideInicial === "carousel-item carousel-item-prev carousel-item-end") {
            btnAtras.setAttribute("hidden", true);
        } else {
            btnAtras.removeAttribute("hidden", false);
        }
    }

    function openPopup() {
        document.getElementById("popup").style.display = "block";
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }

    function filterResults() {
        let inputValue = document.getElementById("searchInput").value.toLowerCase();
        let results = document.querySelectorAll(".popup-content p");
        results.forEach(result => {
            if (result.textContent.toLowerCase().includes(inputValue)) {
                result.style.display = "block";
            } else {
                result.style.display = "none";
            }
        });
    }

    document.getElementById("searchInput").addEventListener("input", filterResults);

    function displayUsername(button) {
        let usernameValue = button.value;
        let nombreValue = button.parentNode.childNodes[0].textContent;
        let apellidoPaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[1];
        let apellidoMaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[2];
        let usernameDisplayElement = document.getElementById("usernameDisplay");
        let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
        usernameDisplayElement.value = `${nombreValue}`;
        usernameDisplayElement.textContent = `${nombreValue}`;
        usernameValueDisplayElement.value = usernameValue;
        usernameDisplayElement.style.display = "block";
        usernameValueDisplayElement.style.display = "block";
        let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
        hideUsernameButtonElement.style.display = "block";
        closePopup();
    }

    function hideUsernameDisplay() {
        let usernameDisplayElement = document.getElementById("usernameDisplay");
        let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
        usernameDisplayElement.style.display = "none";
        usernameValueDisplayElement.style.display = "none";
        let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
        hideUsernameButtonElement.style.display = "none";
    }

    var odreni = "";

    function actualizarOdreni(checkbox) {
        if (checkbox.checked) {
            odreni = checkbox.value;
        } else {
            odreni = "";
        }
        document.getElementById("odreniInput").value = odreni;
    }

    function mostrarOpciones(checkbox) {
        const opcionesPlus2 = document.getElementById("opcionesPlus2");
        const opcionesPlus1 = document.getElementById("opcionesPlus1");

        if (checkbox === opcionPlus2) {
            opcionesPlus2.style.display = checkbox.checked ? "block" : "none";
            opcionesPlus1.style.display = "none";
            opcionPlus1.checked = false;
            if (checkbox.checked) {
                document.querySelector("#opcionesPlus2 select").removeAttribute("disabled");
            } else {
                document.querySelector("#opcionesPlus2 select").setAttribute("disabled", "disabled");
            }
        } else if (checkbox === opcionPlus1) {
            opcionesPlus1.style.display = checkbox.checked ? "block" : "none";
            opcionesPlus2.style.display = "none";
            opcionPlus2.checked = false;
            if (checkbox.checked) {
                document.querySelector("#opcionesPlus1 select").removeAttribute("disabled");
            } else {
                document.querySelector("#opcionesPlus1 select").setAttribute("disabled", "disabled");
            }
        }
    }
</script>

<script>
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
        }
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const validateInput = (input, min, max, step, feedbackId) => {
    const feedback = document.getElementById(feedbackId);
    const value = parseFloat(input.value);
    if (input.required && !input.value) {
      input.classList.add('is-invalid');
      feedback.textContent = '{{t "validation.required"}}';
    } else if (isNaN(value) || value < min || value > max) {
      input.classList.add('is-invalid');
      feedback.textContent = `{{t "validation.range"}} ${min} {{t "and"}} ${max}.`;
    } else if ((value - min) % step !== 0) {
      input.classList.add('is-invalid');
      feedback.textContent = `{{t "validation.multiple"}} ${step}.`;
    } else {
      input.classList.remove('is-invalid');
      feedback.textContent = '';
    }
  };

  const inputs = [
    // Campos de Pruebas complementarias
    { id: 'Ishihara', min: -1, max: 1, step: 0.25 },
    { id: 'Amsler', min: -1, max: 1, step: 0.25 },
    { id: 'Maddox', min: 0, max: 100, step: 1 },
    { id: 'Camposvisuales', min: 0, max: 100, step: 1 },
    
    // Campos de Biomicroscopía
    { id: 'Parpados', min: -1, max: 1, step: 0.25 },
    { id: 'PuntosViasLagrimales', min: -1, max: 1, step: 0.25 },
    { id: 'FondoDeSaco', min: 0, max: 100, step: 1 },
    { id: 'Conjuntiva', min: 0, max: 100, step: 1 },
    { id: 'Esclera', min: 0, max: 100, step: 1 },
    { id: 'Cornea', min: 0, max: 100, step: 1 },
    { id: 'Limbo', min: 0, max: 100, step: 1 },
    { id: 'CA', min: 0, max: 100, step: 1 },
    { id: 'IrisYPupila', min: 0, max: 100, step: 1 },
    { id: 'Cristalina', min: 0, max: 100, step: 1 }
  ];

  inputs.forEach(input => {
    const element = document.querySelector(`input[name="CamposDeFormulario[${input.id}]"]`);
    element.addEventListener('input', () => validateInput(element, input.min, input.max, input.step, `${input.id}Feedback`));
    element.addEventListener('blur', () => validateInput(element, input.min, input.max, input.step, `${input.id}Feedback`));
  });

  document.getElementById('formulario').addEventListener('submit', function(event) {
    let isValid = true;
    inputs.forEach(input => {
      const element = document.querySelector(`input[name="CamposDeFormulario[${input.id}]"]`);
      validateInput(element, input.min, input.max, input.step, `${input.id}Feedback`);
      if (element.classList.contains('is-invalid')) {
        isValid = false;
        element.scrollIntoView({ behavior: "smooth" });
        element.focus();
      }
    });
    if (!isValid) {
      event.preventDefault();
    }
  });
});
</script>


{{> footer}}
